<div class="row">
  <div class="col-sm-16">
    <div class="card">
      <div class="card-header">
        <div class="img-item">
        <img class="img-user" src="../../assets/images/bibi.jpg">
        <br>
        {{competingPhoto.user.name}}
        </div>
      </div>
      <div class="card-body">
        <img class="card-img-top" src="../../assets/images/GOPR1372.JPG">
      </div>
      <div class="card-footer">
        <img class="heart-img"src="../../assets/images/love-hand-drawn-heart-symbol-outline.png">
        <br>
        {{competingPhoto.numberOfLikes}} likes
      </div>
    </div>
  </div>
</div>