
<header class="container header">
  <div class="vertical-center">
    <div class="row">
        <div class="col-md">
        <h1>PhoComp</h1>
         <span>Welcom To Photo Compotition, login or register and get prices</span>
        </div>
    </div>
  </div>
</header>

<div class="container-fluid body">
  <div class ="vertical-center">
  <div class="row">
    <div class="col-md">
      <input class="form-control form-control-md" placeholder="User Name" type="text" [(ngModel)]="userName" />
    </div>
  </div>
  <div class="row">
      <div class="col-md">
      <input class="form-control form-control-md" placeholder="Password" type="text" [(ngModel)]="password" />
    </div>]
  </div>
  <div class="row">
    <div class="col-md">
    <button class="btn btn-sm" (click)="loginUser()">Login</button>
  </div>
  </div>
  <div class="row">
      <div class="col-md">
      <a href="#" (click)="forgotPassword()">Forgot password?</a>
    </div>
  </div>
</div>
</div>


<footer class="container header">
    <div class="vertical-center">
      <div class="row">
          <div class="col-md">
          Don't have an account?
          <a href="#">Sign up </a>
          </div>
      </div>
    </div>
  </footer>