<div class="container">
  <h2>Hi avihay</h2>


  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home">Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu1"> My Photos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu2">Win Photos</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <!-- Details -->
    <div class="tab-pane container active" id="home">

    </div>

    <div class="tab-pane container fade" id="menu1">
      <div class="gallery-block cards-gallery">
        <div class="container">
          <div class="heading">
            <h2>Cards Gallery</h2>
          </div>
          <div class="row">
            <div *ngFor="let number of [0,1,2,3,6,3]" class="col-md-6 col-lg-4">
              <div class="card border-0 transform-on-hover">
                <a class="lightbox" href="../../assets/images/GOPR1357.JPG?auto=compress&cs=tinysrgb&h=750&w=1260">
                  <img src="../../assets/images/GOPR1357.JPG?auto=compress&cs=tinysrgb&h=750&w=1260" alt="Card Image"
                    class="card-img-top">
                </a>
                <div class="card-body">
                  <h6>
                    <a href="#">Lorem Ipsum</a>
                  </h6>
                  <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- win photos -->
    <div class="tab-pane container fade" id="menu2">
      <div class="gallery-block cards-gallery">
        <div class="container">
          <div class="heading">
            <h2>Wins Photos</h2>
          </div>
          <div class="row">
            <div *ngFor="let number of [0,1,2,3,4]" class="col-md-6 col-lg-4">
              <div class="card border-0 transform-on-hover">
                <a class="lightbox" href="../../assets/images/GOPR1372.JPG">
                  <img src="../../assets/images/GOPR1372.JPG"
                    class="card-img-top">
                </a>
                <div class="card-body">
                    <!-- <img src="../../assets/heart.ico"/> -->
                    <i class="far fa-heart" style="color: red;"></i>
                  <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>