<div class="container" style="box-decoration-break:inherit">
  <div class="row">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> Compotition Name: {{compotition.name}}</h5>
        <p class="card-text"> Title: {{compotition.title}} </p>
        <p class="card-text">
          <small class="text-muted">{{leftTime}}</small>
        </p>
        <div>
          <a [routerLink]="['/compotition-details',compotition.id]"> compotition details
          </a>
        </div>
      </div>
    </div>
  </div>
</div>